#Ides
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo
.idea/

#Backend
**/[Dd]ebug/
**/[Rr]elease/
**/[Bb]in/
**/[Oo]bj/
**/appsettings.Development.json
**/*.nuget.props
**/*.nuget.targets

#Frontend
**/node_modules/
**/dist/
**/.angular/
**/.pnp/
**/.pnp.js

#Model Propet
**/__pycache__/
**/*.pyc
**/env/
**/venv/
**/.env

# Excluir environments de Angular
**/src/environments/*.ts