/* datatable.css */

:host {
    display: block;
    width: 100%;
    /* El componente siempre ocupa el 100% de su padre */
}

/* Estilo opcional para un scrollbar más discreto */
.scrollbar-thin::-webkit-scrollbar {
    height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}